body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.quote-text,
.quote-author {
  margin: 10px;
}

.quote-text {
  font-style: italic;
}

.favorite-card {
  background-color: #fff;
  color: darkcyan;
  padding: 5px;
  border-radius: 8px;
  width: 25%;
  font-style: italic;
}

.favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.author {
  font-style: normal;
}

.toogle-favorite-btn:disabled {
  background-color: #333;
  cursor: default;
}

.toogle-favorite-btn {
  background-color: #333;
  padding: 0;
}

.toogle-favorite-btn:hover {
  background-color: #333;
}

.star-ikon {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.star-ikon-filled {
  display: none;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
}
